
<app-menu></app-menu>

<ion-header [translucent]="true">
  
<ion-row class="ion-justify-content-center">
  <ion-col size="10" size-lg="8" class="ion-text-center">
    <ion-label>
      <h1>ADICIONAR ESPORTE</h1>
    </ion-label>
    <ion-item>
    <ion-input label="Nome do Esporte"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="origem"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="quantos jogadores"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button slot="end" color="tertiary">Salvar</ion-button>
  </ion-item>
  </ion-col>
</ion-row>



<ion-row class="ion-justify-content-center">
  <ion-col size="10" size-lg="8">
    <ion-card>
      <ion-row>
        <ion-col>Id: 1</ion-col>
        <ion-col>Nome:</ion-col>
        <ion-col>Origem:</ion-col>
      </ion-row>
    </ion-card>
  </ion-col>

</ion-row>


</ion-content>
<app-footer></app-footer>