iom-header{
    margin-bottom: 45px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}


ion-item{
    --background: none;
    & ion-label {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }
}